@font-face {
  font-family: "Bellfort";
  src: url(../fonts/Bellfort.ttf);
}

@font-face {
  font-family: "LatoR";
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "LatoI";
  src: url(../fonts/Lato-Italic.ttf);
}

:root {
  --color1: #F2F4F3;
  --color2: black;
  --color3: rgb(255, 255, 255);
  --color4: rgb(0, 0, 0);
  --color5: #efefef;

}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #F2F4F3;
}

a:hover {
  color: #F2F4F3;
}

.bg-color1 {
  background-color: var(--color1);
}


#img1-index {
  background-image: url(../images/webp/cabecera.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.caja-index {
  height: 35vh;
  font-size: 1.2rem;
}

.centro {
  padding-left: 4%;
  padding-right: 4%;
}


.sub {
  color: #49111C;
  margin-top: 5%;
}

.izq {
  margin-left: 5%;
}

.der {
  margin-right: 5%;
}


/*FORMULARIOS LOGIN Y REGISTER*/
.formReg {
  margin: auto;
  margin-top: 100px;
  max-width: 500px;
  background-color: #F2F4F3;
  padding: 20px;
  border-radius: 10px;
  color: #49111C;
}

.lReg {
  display: block;
  margin-bottom: 5px;
}

.iReg {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #FDE1C8;
}

.bReg {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #49111C;
  color: #F2F4F3;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.bReg:hover {
  background-color: #722040;
}

/* Classes modificades sobre bootstrap */


header {
  color: #F2F4F3;
  background-color: #0A0908;
}

footer {
  color: #F2F4F3;
  background-color: #0A0908;
  font-family: "LatoR";
  font-size: 0.8rem;
}

body {
  font-family: "LatoR";
}

ul {
  list-style-type: none;
}

.barra {
  color: #F2F4F3;
  background-color: #0A0908;
  height: 2rem;
}

.abarra {
  color: #F2F4F3;
  font-size: 0.8rem;
  margin: 3px;
  text-align: center;
  margin-left: 1rem;
}

.abarra:hover {
  cursor: pointer;
  color: #49111C;
  background-color: #FDE1C8;
  margin: 3px;
  text-align: center;
  transition: 0.5s;
  margin-left: 1rem;
}
.abarra:hover a {
  color: #49111C;
}


.navbar {
  height: 6vh;
}

h2 {
  font-family: "Bellfort";
  text-align: center;
}

.futer {
  padding-top: 1.5%;
}

.rs {
  width: 16px;
  height: 16px;
  margin: 5%;
}

.rs:hover {
  cursor: pointer;
  transition: 0.5s;
}

#copy {
  padding-left: 12%;
}


#i {
  background-image: url(../iconos/svg/i_light_16.svg);
}

#f {
  background-image: url(../iconos/svg/f_light_16.svg);
}

#t {
  background-image: url(../iconos/svg/t_light_16.svg);
}

#i:hover {
  background-image: url(../iconos/svg/i_full_16.svg);
  transition: 0.5s;
}

#f:hover {
  background-image: url(../iconos/f_full_16.png);
  transition: 0.5s;
}

#t:hover {
  background-image: url(../iconos/t_full_16.png);
  transition: 0.5s;
}

/*IMAGENES CARTA*/
.imgCarta {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 250px;
  height: 250px;
}

.imgCarta div p {
  visibility: hidden;
  text-align: center;
}

.imgCarta:hover {
  color: #FDE1C8;
}

.imgCarta:hover div {
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
}

.imgCarta:hover p {
  visibility: visible;
  padding: 5%;
}

.prodsCarta {
  width: 15.625rem;
  margin-left: 2%;
  text-align: center;
}

.botonCarta {
  float: right;
  width: 32px;
  height: 32px;
  background-image: url("../iconos/svg/verificar.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #49111C;
  border: none;
}

.subPr {
  width: 250px;
  height: 38px;
  color: #FDE1C8;
  background-color: #49111C;
}

#size {
  background-color: #49111C;
  border: none;
  cursor: pointer;
  color: #FDE1C8;
  float: right;
}

/*CARRITO*/
.boton {
  background-color: #49111C;
  color: #FDE1C8;
  border: none;
  border-radius: 3px;
}

.NoCompra {
  min-height: 100rem;
}

.botonP {
  background-color: #49111C;
  border-radius: 3px;
  color: #FDE1C8;
  text-align: center;
  width: auto;
  margin-right: 55%;
}

.mPedidos {
  margin-right: 5%;
  min-height: 5vh;
  min-width: 10vw;
}

.tCarrito {
  margin-right: 10%;
  margin-left: 10%;
}

/*ICONOS*/
#carro {
  background-image: url("../iconos/svg/s_white_light_32.svg");
  width: 32px;
  height: 32px;
  text-align: center;
  padding-left: 0.3vw;
  padding-top: 0.3vh;
  font-size: 0.75rem;
  margin-left: 9rem;
}

#carro:hover {
  background-image: url("../iconos/svg/s_white_full_32.svg");
  cursor: pointer;
  transition: 0.5s;

}
.user{
  margin-left: 6rem;
}

th {
  color: #49111C;
}

.compra {
  min-width: 10vw;
  text-align: center;
}

.Pi {
  font-size: 0.9rem;
}

#copy {
  font-size: 0.7rem;
  padding-left: 0%;
  text-align: center;
}

.tt-pp {
  font-size: 1.8rem;
}

.pp-pp {
  font-size: 1rem;
}

.carousel-caption h2 {
  font-family: Bellfort;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2%;
  padding-top: 5%;
}

.carousel-caption p {
  font-size: 1rem;
  text-align: left;
}

.carousel-caption div {
  font-family: Bellfort;
  font-size: 1.4rem;
  text-align: center;
}

.textoInd {
  font-size: 1rem;
}

#bar {
  display: none;
}

#Session {
  background-image: url("../iconos/svg/c_white_light_32.svg");
  width: 32px;
  height: 32px;
  text-align: center;
  padding-left: 0.3vw;
  padding-top: 0.3vh;
  font-size: 0.75rem;
}

#Session:hover {
  background-image: url("../iconos/svg/c_white_full_32.svg");
  cursor: pointer;
  transition: 0.5s;

}

/*DROPDOWN MENU*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #0A0908;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-menu a {
  color: #FDE1C8;
  text-decoration: none;
  display: block;
  padding: 8px 0;
}

.dropdown-menu a p {
  color: #FDE1C8;
  text-decoration: none;
  float: right;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*Tablet*/
@media (max-width: 1399px) {

  .imgCarta {
    width: 9.375rem;
    height: 9.375rem;

  }

  .prodsCarta {
    width: 15vw;
    margin-left: 2%;
    text-align: center;
  }

  .sub {
    font-size: 0.9rem;
  }

  .prodsCarta {
    width: 9.375rem;
    font-size: 0.75rem;
  }

  .subPr {
    width: 200px;
  }
}


/*MOBIL*/
@media (max-width: 576px) {

  html {
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: #F2F4F3;
  }

  .bg-color1 {
    background-color: var(--color1);
  }


  #img1-index {
    background-image: url(../images/webp/cabecera.webp);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .caja-index {
    height: 35vh;
    font-size: 1.2rem;
  }

  .centro {
    padding-left: 4%;
    padding-right: 4%;
  }


  .sub {
    color: #49111C;
    margin-top: 5%;
  }

  .izq {
    margin-left: 5%;
  }

  .der {
    margin-right: 5%;
  }

  /* Classes modificades sobre bootstrap */


  header {
    color: #F2F4F3;
    background-color: #0A0908;
  }

  footer {
    color: #F2F4F3;
    background-color: #0A0908;
    font-family: "LatoR";
    font-size: 0.8rem;
  }

  body {
    font-family: "LatoR";
  }

  ul {
    list-style-type: none;
  }

  .barra {
    color: #F2F4F3;
    background-color: #0A0908;
  }

  .navbar {
    height: 6vh;
  }

  h2 {
    font-family: "Bellfort";
  }

  .futer {
    padding-top: 1.5%;
  }

  .rs {
    width: 16px;
    height: 16px;
    margin: 5%;
  }

  #copy {
    padding-left: 12%;
  }


  #i {
    background-image: url(../iconos/svg/i_light_16.svg);
  }

  #f {
    background-image: url(../iconos/svg/f_light_16.svg);
  }

  #t {
    background-image: url(../iconos/svg/t_light_16.svg);
  }

  /*IMAGENES CARTA*/
  .imgCarta {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15.625rem;
    height: 15.625rem;
  }

  .imgCarta div p {
    visibility: hidden;
    text-align: center;
  }

  .prodsCarta {
    width: 15.625rem;
    margin-left: 2%;
    text-align: center;
  }

  .botonCarta {
    float: right;
    width: 32px;
    height: 32px;
    background-image: url("../iconos/svg/verificar.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #49111C;
    border: none;
  }

  .subPr {
    width: 250px;
    height: 38px;
    color: #FDE1C8;
    background-color: #49111C;
  }

  #size {
    background-color: #49111C;
    border: none;
    cursor: pointer;
    color: #FDE1C8;
    float: right;
  }

  /*CARRITO*/
  .boton {
    background-color: #49111C;
    color: #FDE1C8;
    border: none;
    border-radius: 3px;
  }

  .NoCompra {
    min-height: 100vh;
  }

  .botonP {
    background-color: #49111C;
    border-radius: 3px;
    color: #FDE1C8;
    text-align: center;
    width: auto;
    margin-right: 55%;
  }

  .mPedidos {
    margin-right: 5%;
    min-height: 5vh;
    min-width: 10vw;
  }

  .tCarrito {
    margin-right: 10%;
    margin-left: 10%;
  }

  /*ICONOS*/
  #carro {
    background-image: url("../iconos/svg/s_white_light_32.svg");
    width: 32px;
    height: 32px;
    text-align: center;
    padding-left: 0.3vw;
    padding-top: 0.3vh;
    font-size: 0.75rem;
  }

  th {
    color: #49111C;
  }

  .compra {
    min-width: 10vw;
    text-align: center;
  }

  .Pi {
    font-size: 0.9rem;
  }

  #copy {
    font-size: 0.7rem;
    padding-left: 0%;
    text-align: center;
  }

  .tt-pp {
    font-size: 1.8rem;
  }

  .pp-pp {
    font-size: 1rem;
  }

  .carousel-caption h2 {
    font-family: Bellfort;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 2%;
    padding-top: 5%;
  }

  .carousel-caption p {
    font-size: 1rem;
    text-align: left;
  }

  .carousel-caption div {
    font-family: Bellfort;
    font-size: 1.4rem;
    text-align: center;
  }

  .textoInd {
    font-size: 1rem;
  }

  #bar {
    display: none;
  }


  .formReg {
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
    background-color: #F2F4F3;
    padding: 20px;
    border-radius: 10px;
    color: #49111C;
  }

  .lReg {
    display: block;
    margin-bottom: 5px;
  }

  .iReg {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #FDE1C8;
  }

  .bReg {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #49111C;
    color: #F2F4F3;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }


}